src/main/resources/p2Composite.xsd

<!-- xjc.sh p2Composite.xsd -b p2Composite.xjb -d ../java-gen/ -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="property">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="name" use="optional"/>
                    <xs:attribute type="xs:string" name="value" use="optional"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="child">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:float" name="location" use="optional"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="properties">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="property" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="size"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="children">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="child" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="size"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="repository">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="properties"/>
                <xs:element ref="children"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name"/>
            <xs:attribute type="xs:string" name="type"/>
            <xs:attribute type="xs:byte" name="version"/>
        </xs:complexType>
    </xs:element>
</xs:schema>